[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydirectinput = "*"
requests = "*"
numpy = "*"
selenium = "*"
essential-generators = "*"
pyautogui = "*"

[dev-packages]

[requires]
python_version = "3.8"
